h3{
	margin: 0;
}
.main-container{
	height: auto;
	width: 19rem;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	background-image: linear-gradient(45deg,#0F2027,#203A43,#2C5364);

}
.main-heading{
    font-size: 2em;
    color: white;
    font-weight: 700;
    font-family: monospace;
    /*border: 1px solid red;*/
    display: inline-block;
    margin-left: 23px;
    margin-top: 1rem;
}
.container{
    /* background-image: linear-gradient(red,blue,hotpink); */
    height: 3rem;
    width: 13rem;
    /* border: 1px solid red; */
    margin: 20px;
    display: grid;
    grid-template-rows: 2.75rem;
    grid-template-columns: 3rem 7rem;
    grid-gap: 20px;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container:hover{
transform: scaleX(1.2);
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container-heading{
    padding-top: 12px;
    /*border: 1px solid red;*/
    color: white;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5em;
	/*border: 1px solid red;*/
}
.container-img{

	/*border: 1px solid red;*/
	transition: 0.5s ease-in-out;
}
.container-img:hover{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transform: scale(1.2);
	opacity: 0.8;
}
.container-img img{
	height: 100%;
	width: 100%;
}
